* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #ddd;
}

.color-picker-container {
  position: relative;
  width: 400px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header-container, .main-container, .footer-container{
  position: relative;
  width: 100%;
}

.header-container {
  height: 12.5%;
  border-radius: 20px 20px 0 0;
}

.main-container {
  height: 75%;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
   -khtml-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer-container {
  height: 12.5%;
  border-radius: 0 0 20px 20px;
}

.hue-panel, .hex-panel, .rgba-panel {
  position: relative;
  width: 100%;
  height: calc(100% / 6);
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.hue-panel {
  align-items: center;
}

.color-panel {
  display: -webkit-flex;
  display:         flex;
  width: 100%;
  height: calc(100% / 2);
  float: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.hex-panel {
  align-items: flex-start;
  justify-content: center;
}

.rgba-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}


.hue-wrapper, .color-wrapper, .alpha-wrapper, .hex-wrapper {
  position: relative;
}

.hue-wrapper {
  width: calc(100% * (8/10));
  height: calc(100% / 3);
  border-radius: 20px;
  z-index: 2;
}

.color-wrapper {
  width: calc(100% * (7/12));
  height: calc(100% * (8/9));
  border-radius: 24px;
  margin-left: 10%;
  z-index: 2;
}

.alpha-wrapper {
  width: calc(100% * (1/12));
  height: calc(100% * (8/9));
  margin-right: 10%;
}

.hex-wrapper {
  width: calc(100% * (8/10));
  height: calc(100% * (2/3));
}

.r-wrapper, .g-wrapper, .b-wrapper, .a-wrapper {
  width: calc(100% * (1.5/10));
  height: calc(100% * (2/3));
}

.r-wrapper {
  margin-left: 10%;
}

.a-wrapper {
  margin-right: 10%;
}

.hue-canvas {
  box-sizing: padding-box;
  display: block;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.picker {
  position: absolute;
  z-index: 10;
  width: 24px;
  height: 24px;
  border: 2px solid #000;
  border-radius: 20px;
  cursor: -webkit-grab;
}

.hue-picker {
  top: calc(50% - 12px);
}

.color-canvas {
  box-sizing: padding-box;
  display: block;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.color-picker {
}

.alpha-canvas {
  box-sizing: padding-box;
  display: block;
  border-radius: 20px;
}

.alpha-picker {
  left: calc(50% - 12px);
}

input {
  height: 100%;
  width: 100%;
  border: solid 0 #000;
  border-radius: 20px;
  text-align: center;
  font-size: 14pt;
  background: #ddd;
}

.hex-input {
}

.r-input {
}

.g-input {
}

.b-input {
}

.a-input {
}

.header-title {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: 'Nixie One', cursive;
  font-size: 28pt;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  z-index: 20;
}

.rgba-value {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: 'Nixie One', cursive;
  font-size: 14pt;
  z-index: 20;
}

.header-title.darken, .rgba-value.darken {
  color: #000;
}

@media screen and (max-width: 400px) {
  .color-picker-container {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .color-picker-container, .header-container, .footer-container {
    border-radius: 0;
  }
}
