* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
}

.color-picker-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

.header-container, .main-container, .footer-container{
  position: relative;
  width: 100%;
}

.header-container {
  height: 12.5%;
  border-radius: 20px 20px 0 0;
}

.main-container {
  height: 75%;
  background-color: #fff;
}

.footer-container {
  height: 12.5%;
  border-radius: 0 0 20px 20px;
}

.hue-panel, .hex-panel, .rgba-panel {
  position: relative;
  width: 100%;
  height: calc(100% / 6);
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.hue-panel {
  align-items: center;
}

.color-panel {
  display: -webkit-flex;
  display:         flex;
  width: 100%;
  height: calc(100% / 2);
  float: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.hex-panel {
  align-items: flex-start;
  justify-content: center;
}

.rgba-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}


.hue-wrapper, .color-wrapper, .alpha-wrapper, .hex-wrapper {
  position: relative;
}

.hue-wrapper {
  width: calc(100% * (8/10));
  height: calc(100% / 3);
  border-radius: 20px;
  z-index: 2;
}

.color-wrapper {
  width: calc(100% * (7/12));
  height: calc(100% * (8/9));
  border-radius: 24px;
  margin-left: 10%;
  z-index: 2;
}

.alpha-wrapper {
  width: calc(100% * (1/12));
  height: calc(100% * (8/9));
  margin-right: 10%;
}

.hex-wrapper {
  width: calc(100% * (8/10));
  height: calc(100% * (2/3));
}

.r-wrapper, .g-wrapper, .b-wrapper, .a-wrapper {
  width: calc(100% * (1.5/10));
  height: calc(100% * (2/3));
}

.r-wrapper {
  margin-left: 10%;
}

.a-wrapper {
  margin-right: 10%;
}

.hue-canvas {
  box-sizing: padding-box;
  display: block;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.picker {
  position: absolute;
  z-index: 10;
  width: 24px;
  height: 24px;
  border: 3px solid #000;
  border-radius: 20px;
}

.hue-picker {
  left: 0;
  top: calc(50% - 12px);
}

.color-canvas {
  box-sizing: padding-box;
  display: block;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.color-picker {
  top: 0;
  right: 0;
}

.alpha-canvas {
  box-sizing: padding-box;
  display: block;
  border-radius: 20px;
}

.alpha-picker {
  bottom: 0;
  left: calc(50% - 12px);
}

input {
  height: 100%;
  width: 100%;
  border: solid 0 #000;
  border-radius: 20px;
  text-align: center;
  font-size: 14pt;
  background: #ddd;
}

.hex-input {
}

.r-input::after {
  content: "R";
  font-size: 20pt;
  z-index: 20;
}

.g-input {
}

.b-input {
}

.a-input {
}
